img {
    max-inline-size: 100%;
  }
  
  body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
  
    min-block-size: 100vh;
    min-block-size: 100dvh;
    min-block-size: 100svh;
  
    display: grid;
    grid-template-columns:
      [sidebar-start]
      5rem
      [sidebar-end main-start]
      1fr
      [main-end];
  }
  h1 {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-block-end: 1rem;
    text-align: center;

  }
  .main {
    grid-column: main;
    padding: 1.25rem;
  }
  
  /* Photo Gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-auto-rows: 12.5rem;
    grid-auto-flow: dense;
    gap: 0.75rem;
  }
  
  .gallery figure {
    container: figure / inline-size;
    overflow: hidden;
  
    display: grid;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
  }
  
  .gallery img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / -1 / -1;
  
    transition: scale 1s ease-in-out;
  }
  
  .gallery figure:hover img {
    scale: 1.125;
  }
  
  .gallery figcaption {
    grid-area: 1 / 1 / -1 / -1;
    align-self: end;
    z-index: 1;
  
    padding: 3em 15% 1em 1em;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.3;
    background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
    display: none;
  }
  
  @container figure (width > 20rem) {
    .gallery figcaption {
      display: block;
    }
  }
  
  .gallery figcaption h3 {
    font-size: 1.0625rem;
  }
  
  .gallery figcaption p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @media (width > 600px) {
    .gallery figure:nth-child(1) {
      grid-area: span 2 / span 2;
    }
  
    .gallery figure:nth-child(4n + 1) {
      grid-row: span 2;
    }
  
    .gallery figure:nth-child(4n + 2) {
      grid-column: span 2;
    }
  }
  
.container {
  position: absolute;
  inset: 0;
  background: #000;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMTkuNSIgbnVtT2N0YXZlcz0iMTAiIHJlc3VsdD0idHVyYnVsZW5jZSIvPjxmZUNvbXBvc2l0ZSBvcGVyYXRvcj0iaW4iIGluPSJ0dXJidWxlbmNlIiBpbjI9IlNvdXJjZUFscGhhIiByZXN1bHQ9ImNvbXBvc2l0ZSIvPjxmZUNvbG9yTWF0cml4IGluPSJjb21wb3NpdGUiIHR5cGU9Imx1bWluYW5jZVRvQWxwaGEiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJjb21wb3NpdGUiIG1vZGU9ImNvbG9yLWJ1cm4iLz48L2ZpbHRlcj48L2RlZnM+PGcgZmlsdGVyPSJ1cmwoJyNhJykiPjxwYXRoIGZpbGw9IiMyNmIiIGQ9Ik0wIDBoMTAwdjEwMEgweiIvPjxwYXRoIGQ9Ik0wIDB2MTAwaDEwMFYwWiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiM0OGYiIGZpbGw9IiMwMDAwIi8+PHBhdGggZmlsbD0iIzQ4ZjUiIGQ9Ik01MCAwaDF2MTAwaC0xeiIvPjxwYXRoIGZpbGw9IiM0OGY1IiBkPSJNMCA1MGgxMDB2MUgweiIvPjwvZz48L3N2Zz4=");
  mask: linear-gradient(#0004, #000);
}

